.Test-Header {
    background-color: aquamarine;
}


.LoginPage{
    margin: 0px;
    padding: 0px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    /* backround-image: ../assets/images/Ardania-map.png; */
}

.Login-Title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.Login-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    border: 5px solid hsla(0, 0%, 0%, 1);
    overflow: visible;
    font-size: 20px;
    
    width: 50%;
    bottom: 50%;
    right: 30%;
    left: 30%; 
    position: absolute;
    text-align: center;
}

/* .Page-Links { */
    /* height: 60px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: sticky;
    border-bottom: 5px;
    background-color: hsla(120, 20%, 40%, 1.0);
    border-radius : 50px; */
/* } */

.MainPage {
    background: url(".//Users/elaschwartz/Documents/Codesmith Attempt 2/Solo Project/Solo-Project-Attempt-2/client/images/Ardania-map");
}

.Container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 12px;
    opacity: 1;
    /* background */
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    top: 20%;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    /* background-image: ; */
    text-align: center;
    border: 5px solid grey;
    border-radius: 50px;
    /* I wonder what that relative will do? */
    position: relative;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 50%;
}

nav {
    line-height: 1em;
    text-decoration:none;
    width: 100vw;
    height: 60px;
    margin: 20px;

    position: sticky;
    border-bottom: 5px;
    background-color: hsla(120, 20%, 40%, 1.0);
    border-radius : 50px;
}

.Page-Links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#usernameLogin{

}

#passwordLogin{
    size: 40px;
}