label {
    border: solid;
    background-color: white;
    font-weight: bold;
}

.Test-Header {
    background-color: aquamarine;
}


.LoginPage{
    margin: 0px;
    padding: 0px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    /* backround-image: ../assets/images/Ardania-map.png; */
}

.Login-Title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.Login-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    border: 5px solid hsla(0, 0%, 0%, 1);
    overflow: visible;
    font-size: 20px;
    
    width: 50%;
    bottom: 50%;
    right: 30%;
    left: 30%; 
    position: absolute;
    text-align: center;
}

/* .Page-Links { */
    /* height: 60px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: sticky;
    border-bottom: 5px;
    background-color: hsla(120, 20%, 40%, 1.0);
    border-radius : 50px; */
/* } */

.DisplayedPage {
    border: solid;

    z-index: 1;
    height: 100%;
    image-rendering: auto;
}


nav {
    line-height: 1em;
    display: block;
    text-decoration:none;
    width: 100%;
    height: 60px;
    margin: 20px;
    gap: 20%;
    position: sticky;
    border-bottom: 5px;
    background-color: hsla(120, 20%, 40%, 1.0);
    border-radius : 50px;
    z-index: 2;
}

h1 {
    background-color: white;
    border-radius: 50px;
}

.Main-Page-Title {
    background-color: white;
    border-radius: 50px;
}

.Nav-Bar{
    display: flex;
    justify-content: center;
    align-items: center;
    display: row;
    gap: 40px;
}

.Page-Links{
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    /* border: solid; */
    flex-wrap: nowrap;
    padding: 20px;
    margin: 16px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.link-div{
    height: 50px;
    display: flex;
    align-items: center;
    border: solid;
    
    /* border-radius: 50px; */
}

.Page-Links :hover{
    background-color: lightblue;
    /* color: white; */
}



.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 25%;
    width: 50%;
    bottom: 20%;
    height: 100vw;
    margin: 16px;
    gap: 12px;
    opacity: 1;
    z-index: 4;
    /* background */
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    /* background-image: ; */
    text-align: center;
    border: 5px solid grey;
    border-radius: 50px;
    /* I wonder what that relative will do? */
    position: relative;
    bottom: 50%;
}